#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Typograhpy */

  font-size: 1.25rem;
  font-weight: 700;
  color: black;
}

.box {
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
  background-color: rgb(57, 236, 57);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgb(57, 236, 57);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(57, 236, 57);
  border: transparent;
  width: 6rem;
  height: 3rem;
  border-radius: .5rem;
  box-shadow: 0 4px 12px rgba(57, 236, 57, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);
  /* typograhy */
  font-size: large;
  font-weight: bolder;
  color: black;
}

.btn:hover {
  scale: 1.045;
}

.btn:active {
  scale: 1;
}